/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Jumbutron styles */
.jumbotron {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.website-info {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.website-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.website-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 50px;
}

.search-container {
  display: inline-block;
  margin-left: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
}

.search-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #0056b3;
}

.my-fav-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}

.my-fav-btn:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.category-btn {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.category-btn {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.category-text {
  cursor: pointer;
  color: #007bff; 
  text-decoration: underline; 
  font-size: 14px; 
}

.category-text:hover {
  text-decoration: none; /* Remove underline on hover */
}

/* Images styles */
.images {
  padding: 20px 0;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Add image hover effect */
.image {
  position: relative;
  overflow: hidden;
  height: 300px; 
}

.image:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image:hover::after {
  content: "View Details";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image:hover::before,
.image:hover::after {
  opacity: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px; 
}

.image p {
  margin-top: 10px;
  text-align: center;
}

.load-more {
  text-align: center;
  margin-top: 20px;
}

#load-more-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: none; /* Initially hide the button */
  margin: 0 auto; 
}

/* Update button styles */
.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

#load-more-btn:hover {
  background-color: #0056b3;
}

/* Font styles */
body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p,
span {
  font-size: 16px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  text-align: center;
  width: 70%;
  max-height: 80%; 
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  top: 7%; 
  left: 50%;
  transform: translateX(-50%);
}

#artwork-image {
  width: 200px; 
  height: 200px; 
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 10px; 
}

.close {
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.close:hover,
.close:focus {
  color: #ff0000;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.details-container {
  margin-bottom: 20px;
  text-align: center;
}

#artist-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#artist-name {
  font-weight: bold;
  margin: 0;
}

#social-links {
  text-align: center;
}

#instagram-btn,
#portfolio-btn,
#twitter-btn,
.favorite-btn-modal {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #405de6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#instagram-btn:hover,
#portfolio-btn:hover,
#twitter-btn:hover,
.favorite-btn-modal:hover {
  background-color: #182c99;
}

/* CSS for favorite button */
.favorite-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.favorite-btn:hover {
  background-color: #0056b3;
}

/* Website info styles */
.website-info {
  display: flex;
  align-items: center;
}
.footer {
  background-color: #f0f0f0; 
  color: #000; 
  padding: 10px 0;
  text-align: center;
  font-size: 12px; 
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-text {
  font-size: 10px; 
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
}

.social-links li:not(:last-child) {
  margin-right: 10px;
}

.social-links a {
  color: #000; 
  text-decoration: none;
  font-size: 14px; 
}

.social-links a:hover {
  text-decoration: underline;
}
